@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
body {
    width: fit-content;
    height: 100vh;
    margin: 0;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(50, 75px); /* number and size of columns */
    gap: 0.5px; /* gap between squares */
}
#grid-container-2{
    margin-left: 180px;
    margin-top: 55px;
    margin-right: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 300px);
    gap: 25px;
}
#the-void{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 300px;
    background-image: url('https://raw.githubusercontent.com/mariabuitsan/debt_disobedience/fc9ce09ac61888461b90a449a0db6cdf1fd049ab/assets/img/flame.svg');
    background-position: center;
}
.buttons{
    position: relative;
    left: 5%;
    margin-bottom: 15%;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 10px 10px;
    background-color: #B681EB;
    font-family: 'Lancelot', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    border: aliceblue 1px solid;
}
.buttons-2{
    position: relative;
    left: 5%;
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 10%;
    padding: 10px 10px;
    background-color: #B681EB;
    font-family: 'Lancelot', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    border: aliceblue 1px solid;
}
.buttons:hover{
    box-shadow: 2px 2px 5px 5px rgb(250, 153, 150);
}
.square{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 0.01px;
    /*border: 1px solid #000; sometimes I use this for orientation on my canvas*/
    color: transparent;
}
.square-2{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*font-size: 10px;*/
    color: transparent;
    /*border: #000 1px solid;*/
}
.square.debt-cursor:hover {
    box-shadow: 4px 4px 10px 10px rgb(247, 230, 181);
    cursor: pointer;
}
h1{
    position: absolute;
    color: #000;
    font-family: 'VT323', monospace;;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    width: 247px;
    margin-left: 410px;
}
#individual{
    margin-left: 710px;
    margin-top: 550px;
}
h2{
    position: absolute;
    color: #9747FF;
    font-family: 'VT323', monospace;;
    font-size: 150px;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    width: 680px;
    margin-left: 2222px;
}
#collective{
    margin-top: 1050px;
    margin-left: 5px;
    width: 500px;
}
#menu{
    position: absolute;
    margin: 5%;
    width: 150px;
    height: 350px;
    border-radius: 5%;
    margin-top: 5px;
    margin-left: 5px;
}
p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: #FAEDED;
    font-size: 20px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
#container{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 650px;
    background: #DABBF9;
    padding: 2.5%;
    margin-left: 2%;
    margin-bottom: 50%;
}

#explicacion{
    color: black;
    width: 1000px;
    height: 500px;
    padding: 100px;
    margin-left: 5%;
    font-size: 30px;
    line-height: 5px;
    transition: line-height 0.5s ease;
}
#title{
    position: absolute;
    margin-left: 500px;
    margin-top: 5px;
    font-size: 75px;
}